<ion-content>
  <button large ion-button round (click)="buscar();">
    <ion-icon name="search"></ion-icon>
  </button>
  <button large ion-button color="light" round>?</button>
  <ion-scroll scrollY="true" direction="xy" overflow-scroll="true">
    <ion-list>
      <ion-item-divider [hidden]="comunicacion.bonded.length==0">
        Dispositivos registrados
      </ion-item-divider>
      <ion-item *ngFor="let dispositivo of comunicacion.bonded;" (click)="conectar(dispositivo);">
        <h4>{{dispositivo.name}}</h4>
        <p>{{dispositivo.id}} - {{dispositivo.class}}</p>
      </ion-item>
      <ion-item-divider [hidden]="comunicacion.unBonded.length==0">
        Dispositivos nuevos
      </ion-item-divider>
      <ion-item *ngFor="let dispositivo of comunicacion.unBonded;" (click)="conectar(dispositivo);">
        <h4>{{dispositivo.name}}</h4>
        <p>{{dispositivo.id}} - {{dispositivo.class}}</p>
      </ion-item>
    </ion-list>
  </ion-scroll>
  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="regresar()"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-fab>
</ion-content>